@using System.Web.Script.Serialization
@using MMCApp.Infrastructure.Global;
@{
    ViewBag.Title = "NotificationAction";
}

@section scripts{
    <link href="~/Content/css/multiple-emails.css" rel="stylesheet" />
    <script src="~/Scripts/multiple-emails.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/KnockoutViewModel/Notification/NotificationActionViewModel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/KnockoutViewModel/Notes/SaveDetailViewModel.js")"></script>
    <script src="@Url.Content("~/Scripts/ko.pager.js")"></script>
    <script type="text/javascript">
        var model = @MvcHtmlString.Create(new JavaScriptSerializer().Serialize(Model));
        var _notificationActionViewModel = new NotificationActionViewModel(model);
        ko.applyBindings(_notificationActionViewModel, $("#NotificationActionDiv").get(0));
        var _saveDetailViewModel = new SaveDetailViewModel();

        _saveDetailViewModel.Init(@MvcHtmlString.Create(new JavaScriptSerializer().Serialize(Model)),"Notification")
        ko.applyBindings(_saveDetailViewModel, $("#DivAddNotesBtn").get(0));
        function RichTextEditor_OnExecUICommand(editor, arg) {
            var a0 = arg.Arguments[1];
            if (a0 == "FullScreen")
            {
                return false;
            }
        }
    </script>

}
<div id="DivAddNotesBtn">
    <button class="btn btn-info padding-btn pull-right" id="btnAddNote" data-target="#NoteDiv " data-backdrop="static"
            data-bind="click:OpenAddNotes('Notification')" data-keyboard="false" data-toggle="modal" type="button">
        Add Notes
    </button>
    <div id="AddNote">
        @Html.Partial("~/Views/Shared/Notes/_NotesPartial.cshtml")
    </div>
</div>
<div id="NotificationActionDiv">
    <div class="row">
        <div class="col-sm-12 margintop30">
            <div class="white-background">
                <table class="table table-bordered table-striped table-condensed home-table">
                    <thead>
                        <tr>
                            <th>Patient Name</th>
                            <th>Claim</th>
                            <th>DOI</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span data-bind="text:Patients().PatFirstName() +' ' + Patients().PatLastName() " /></td>
                            <td><span data-bind="text:Patients().PatClaimNumber" /></td>
                            <td><span data-bind="text:Patients().PatDOI" /></td>

                        </tr>
                    </tbody>
                </table>

            </div><!-- white-background -->
        </div><!-- col-sm-12 -->
    </div>
    <input type="hidden" name="hidskip" data-bind="value:Skip" />
    Referral:   <span data-bind="text:RFAReferralID"></span>
    <div class="row">
        <div class="col-sm-12 margintop30">
            <div class="white-background">
                <table class="table table-bordered table-striped table-condensed home-table">
                    <thead>
                        <tr>
                            <th>Request ID</th>
                            <th>Request Name</th>
                            <th>Decision</th>
                            <th>Due Date</th>

                        </tr>
                    </thead>
                    <tbody>
                        <!--ko if:RequestDetail() != null-->
                        <!--ko foreach:RequestDetail-->
                        <tr>
                            <td><span data-bind="text:RFARequestID" /></td>
                            <td><span data-bind="text:RFARequestedTreatment" /></td>
                            <!--ko if:DecisionDesc() != "Client Authorized"-->
                            <td><span data-bind="text:DecisionDesc" /></td>
                            <!--/ko-->
                            <!--ko if:DecisionDesc() == "Client Authorized"-->
                            <td><span>Certify</span></td>
                            <!--/ko-->
                            <td><span data-bind="text: RFALatestDueDate" /></td>
                        </tr>
                        <!--/ko-->
                        <!--/ko-->

                    </tbody>
                </table>
                <nav class="margin-left">
                    @Html.Partial("~/Views/Shared/_Paging.cshtml")
                </nav>
            </div><!-- white-background -->
        </div><!-- col-sm-12 -->
    </div>

    @using (Html.BeginForm(GlobalConst.Actions.NotificationController.uploadNotificationDoc, GlobalConst.Controllers.Notification, System.Web.Mvc.FormMethod.Post, new
{
    id = "frmPreparationAction",
    enctype = "multipart/form-data",
    data_bind = "ajaxForm : { success : function(responseText ,statusText,xhr,$form){NotificationActionSuccess(responseText);},beforeSubmit : NotificationActionInfoFormBeforeSubmit}"
}))
    {

        <div class="row">
            <div class="col-sm-12 margintop30">
                <div class="white-background">
                    <div class="col-sm-6">
                        <div class="form-group row label-font clearfix">
                            <label for="inputEmail3" class="col-sm-3 control-label">Initial Notifications:</label>
                            <div class="col-sm-9">
                                <input type="hidden" class="form-control" id="RFAReferralFileID" name="RFAReferralFileID" data-bind="value:RFAReferralFileID">
                                <input type="hidden" class="form-control" id="RFAReferralID" name="RFAReferralID" data-bind="value:RFAReferralID">
                                <input type="hidden" class="form-control" id="RFAReferralFileName" name="RFAReferralFileName" data-bind="value:RFAReferralFileName">
                                @*<span data-bind="text:RFAReferralID"></span>*@
                                @*<input type="text" data-type="value:RFAReferralFileID()" />*@
                                <input type="file" class="form-control" id="rfaReferralFile" required name="rfaReferralFile" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-red padding-btn color-black pull-right margin-left-20 margin-btm-30" type="submit">Save</button>

                        </div>
                    </div>
                </div><!-- white-background -->
            </div><!-- col-sm-12 -->
        </div>


    }
    @using (Html.BeginForm(GlobalConst.Actions.NotificationController.EmailNotificationDoc, GlobalConst.Controllers.Notification, System.Web.Mvc.FormMethod.Post, new
{
    id = "frmEmailAction",
    enctype = "multipart/form-data",
    data_bind = "ajaxForm : { success : function(responseText ,statusText,xhr,$form){NotificationEmailActionSuccess(responseText);},beforeSubmit : NotificationEmailActionInfoFormBeforeSubmit}"
}))
    {
        <div class="row">
            <div class="col-sm-12 margintop30">
                <div class="white-background">
                    <table class="table table-bordered table-striped table-condensed home-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Document Name</th>
                                <th>Order</th>
                                <th>Move</th>
                                <th><input type="checkbox" class="selectItemAll" /></th>

                            </tr>
                        </thead>
                        <tbody>
                            <!--ko if:ReferralFileNotification() != null-->
                            <!--ko foreach:ReferralFileNotification-->
                            <tr>
                                <td><span data-bind="text:FileTypeName" /></td>
                                <td>
                                    <a data-bind="attr:{href:RFAReferralFileFullPath() +'?a='+ Math.random(),target:'_blank'}">
                                        <span data-bind="text:RFAReferralFileName"></span>
                                    </a>
                                </td>
                                <td>
                                    <span data-bind="text:Order"></span>
                                </td>
                                <td><span data-bind="click: function(){$root.changeOrder($index());}" class="link-color glyphicon glyphicon-chevron-up cpointer"></span></td>
                                <td>
                                    <input type="hidden" data-bind="attr: { name: 'RFAReferralFile['+ $index() + '\].RFAReferralFileID' },value:RFAReferralFileID" />
                                    <input type="hidden" data-bind="attr: { name: 'RFAReferralFile['+ $index() + '\].RFAReferralID' },value:RFAReferralID" />
                                    <input type="hidden" class="hFIsChecked" data-bind="attr: { name: 'RFAReferralFile['+ $index() + '\].IsChecked' },value:IsChecked" />
                                    <input type="hidden" data-bind="attr: { name: 'RFAReferralFile['+ $index() + '\].RFAReferralFileName' },value:RFAReferralFileName" />
                                    <input type="checkbox" id="chkSelectAll" class="selectItem" name=RFAReferralFile[] data-bind="checked: IsChecked" />
                                </td>
                            </tr>
                            <!--/ko-->
                            <!--/ko-->

                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            @*<a href="#" data-target="#InsuranceBranch" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-bind="click:$root.editBranch">Edit</a>*@
                            @*data-target="#SendEmail" data-backdrop="static" data-keyboard="false" data-toggle="modal"*@
                            <button class="btn btn-default padding-btn color-black pull-right margin-left-20 margin-btm-30" id="OpenEmail" data-bind="click:$root.SendEmail" type="button">Email</button>
                            <button class="btn btn-default padding-btn color-black pull-right margin-left-20 margin-btm-30" data-bind="click:$root.PrintDocument" type="button">Print</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-red padding-btn color-black pull-right margin-left-20 margin-btm-30" data-bind="click:$root.BillingActionProcess" type="button">Continue</button>
                            <button class="btn btn-default padding-btn color-black pull-right margin-left-20 margin-btm-30" data-bind="click:$root.ProofOfService">Proof Of Service</button>
                            <button class="btn btn-default padding-btn color-black pull-right margin-left-20 margin-btm-30" data-bind="click:$root.IMRForm">IMR Form</button>
                            <button class="btn btn-default padding-btn color-black pull-right margin-left-20 margin-btm-30" data-bind="click:$root.Determination">Determination Letter</button>
                        </div>
                    </div>
                </div><!-- white-background -->
            </div><!-- col-sm-12 -->

            <div class="row">
                <div class="modal fade bs-example-modal-lg margin-top10" id="SendEmail" data-target="#SendEmail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog position-center modal-lg">
                        <div class="modal-content">
                            <div class="panel-heading">
                                <button type="button" class="close" id="sectPayment" data-bind="click:$root.ClearEmailPopUp" data-dismiss="modal" aria-hidden="true">&times;</button>

                                <h4 class="modal-title">Send Email</h4>
                            </div>

                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12 client-accordian">
                                        <div class="panel panel-default">

                                            <div id="collapse11" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading11">
                                                <div class="panel-body row">

                                                    <div class="col-sm-12">
                                                        <div class="form-group row label-font clearfix">
                                                            <label for="inputEmail3" class="col-sm-3 control-label"><span class="required-link">*</span>To :</label>
                                                            <div class="col-sm-9">
                                                                @*<input type="text" id="demo" name="email" value="[" hello@gmail.com","world@gmail.com"]">*@
                                                                <input type="text" class="form-control" onkeydown="if (event.keyCode == 13) alert('enter')" required id="EMailTo" name="EMailTo" data-bind="jqBootstrapValidation: {}">
                                                                <input type="hidden" class="form-control" id="RefID" name="RFAReferralID">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group row label-font clearfix">
                                                            <label for="inputEmail13" class="col-sm-3 control-label"><span class="required-link">*</span>CC :</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control" id="EMailCc" name="EMailCc" data-bind="jqBootstrapValidation: {}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group row label-font clearfix">
                                                            <label for="inputEmail13" class="col-sm-3 control-label"><span class="required-link">*</span>Attachment :</label>
                                                            <!-- ko if:documentPath() != null-->
                                                            <div class="col-sm-3" style="background:#eee; border:2px solid #fff;">
                                                                <input type="hidden" name="documentPath" data-bind="value:documentPath"/>
                                                                <a name="documentPath" data-bind="attr:{href:documentPath,target:'_blank'}" style="float: left;padding:10px; width:90%">
                                                                    <div style="overflow: hidden; height: 20px" data-bind="text:documentName"></div>
                                                                </a>
                                                                <a href="#" data-bind="click: function(){removeAttachment();}" class="glyphicon glyphicon-remove margintop10">
                                                                </a>
                                                            </div>
                                                            <!-- /ko-->
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group row label-font clearfix">
                                                            <label for="inputEmail3" class="col-sm-3 control-label"><span class="required-link">*</span>Subject :</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control" maxlength="256" id="subject" required name="subject" data-bind="jqBootstrapValidation: {}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group row label-font clearfix">
                                                            <label for="inputEmail3" class="col-sm-3 control-label"><span class="required-link">*</span>Content :</label>
                                                            <div class="col-sm-9">
                                                                <textarea rows="5" class="form-control" id="EmailText" required name="EmailText" data-bind="jqBootstrapValidation: {}"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                    </div><!-- col-lg-12 -->
                                </div><!-- row -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button id="emailSend" class="btn btn-default padding-btn color-black pull-right  margin-btm-30" type="submit">Send</button>
                                        <button class="btn btn-default padding-btn color-black  pull-right  marginright20 margin-btm-30" type="button" id="additionRecordsBtn">Additional Records</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
    @using (Html.BeginForm(GlobalConst.Actions.NotificationController.PrintDocumnent, GlobalConst.Controllers.Notification, System.Web.Mvc.FormMethod.Post, new
{
    id = "frmPrintDocumnent",
    enctype = "multipart/form-data",
}))
    {

                            <!--ko if:ReferralFileNotification() != null-->
                            <!--ko foreach:ReferralFileNotification-->

        <input type="hidden" data-bind="attr: { name: 'RFAReferralFile['+ $index() + '\].RFAReferralFileID' },value:RFAReferralFileID" />
        <input type="hidden" data-bind="attr: { name: 'RFAReferralFile['+ $index() + '\].RFAReferralID' },value:RFAReferralID" />
        <input type="hidden" data-bind="attr: { name: 'RFAReferralFile['+ $index() + '\].IsChecked' },value:IsChecked" />
        <input type="hidden" data-bind="attr: { name: 'RFAReferralFile['+ $index() + '\].RFAReferralFileName' },value:RFAReferralFileName" />
        <input style="display:none;" type="checkbox" id="chkSelectAll" name=RFAReferralFile[] data-bind="checked: IsChecked" />

                            <!--/ko-->
                            <!--/ko-->

    }
</div>
