@using System.Web.Script.Serialization
@using MMCApp.Infrastructure.Global;
@{
    ViewBag.Title = "ClinicalTriageAction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Scripts/jquery.cookie.js"></script>
    <link href="~/Content/css/multiple-emails.css" rel="stylesheet" />
    <script src="~/Scripts/multiple-emails.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/KnockoutViewModel/ClinicalTriage/ClinicalTriageActionViewModel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/KnockoutViewModel/Notes/SaveDetailViewModel.js")"></script>
    <script src="@Url.Content("~/Scripts/ko.pager.js")"></script>
    <script type="text/javascript">
        showLoader();
        var model = @MvcHtmlString.Create(new JavaScriptSerializer().Serialize(Model));
        var _clinicalTriageActionViewModel = new ClinicalTriageActionViewModel(model);
        ko.applyBindings(_clinicalTriageActionViewModel, $("#ClinicalTriageActionDiv").get(0));
        var _saveDetailViewModel = new SaveDetailViewModel();
        _saveDetailViewModel.Init(@MvcHtmlString.Create(new JavaScriptSerializer().Serialize(Model)),"Triage")
        ko.applyBindings(_saveDetailViewModel, $("#DivAddNotesBtn").get(0));
        function RichTextEditor_OnExecUICommand(editor, arg) {
            var a0 = arg.Arguments[1];
            if (a0 == "FullScreen")
            {
                return false;
            }
        }
        hideLoader();
    </script>
}
<div id="DivAddNotesBtn">
    <button class="btn btn-info padding-btn pull-right" id="btnAddNote" data-target="#NoteDiv " data-backdrop="static"
            data-bind="click:OpenAddNotes('Triage')" data-keyboard="false" data-toggle="modal" type="button">
        Add Notes
    </button>
    <div id="AddNote">
        @Html.Partial("~/Views/Shared/Notes/_NotesPartial.cshtml")
    </div>
</div>
<div id="ClinicalTriageActionDiv">
    <div class="row">
        <div class="col-sm-12 margintop30">
            <div class="white-background">
                <h4 style="padding: 5px; text-align: center;">Patient Summary</h4>
                <div>
                    <table class="table table-bordered table-striped table-condensed home-table">
                        <tbody>
                            <tr>
                                <th class="col-lg-2">Patient Name:</th>
                                <td><span data-bind="text:PatientName" /></td>
                            </tr>
                            <tr>
                                <th class="col-lg-2">Patient Claim #:</th>
                                <td><span data-bind="text:PatientClaim" /></td>
                            </tr>
                            <tr>
                                <th class="col-lg-2">Patient DOI:</th>
                                <td><span data-bind="text:PatientDOI" /></td>
                            </tr>
                            <tr>
                                <th class="col-lg-2">Accepted Body Parts:</th>
                                <td><span data-bind="text:AcceptedBodyParts" /></td>
                            </tr>
                            <tr>
                                <th class="col-lg-2">Denied Body Parts:</th>
                                <td><span data-bind="text:DeniedBodyParts" /></td>
                            </tr>
                            <tr>
                                <th class="col-lg-2">Delayed Body Parts:</th>
                                <td><span data-bind="text:DelayedBodyParts" /></td>
                            </tr>
                            <tr>
                                <th class="col-lg-2">Comorbid Conditions:</th>
                                <td><span data-bind="text:CombroidCondition" /></td>
                            </tr>
                            <tr>
                                <th class="col-lg-2">Overall Diagnosis:</th>
                                <td><span data-bind="text:Diagnosis" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- white-background -->
        </div>
        <!-- col-sm-12 -->
    </div>
    <input type="hidden" name="hidskip" data-bind="value:Skip" />
    <input type="hidden" name="hidPatientID" data-bind="value:PatientID" />
    <div class="row">
        <div class="col-sm-12 margintop30">
            <div class="white-background">
                <table class="table table-bordered table-striped table-condensed home-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Author</th>
                            <th>Summary</th>
                        </tr>
                    </thead>
                    <tbody data-bind="with:PatientMedicalRecordViewModels">
                        <!--ko if:PatientMedicalRecordByPatientIDDetails() != null-->
                        <!--ko foreach:PatientMedicalRecordByPatientIDDetails-->
                        <tr>
                            <td class="col-lg-2"><a data-bind="attr:{href:'/PatientMedicalRecord/updatePatientMedicalRecord/'+PatientMedicalRecordID(),target:'_blank'}"><span data-bind="text:PatMRDocumentName" /></a></td>
                            <td class="col-lg-2"><span data-bind="text:PatMRDocumentDate" /></td>
                            <td class="col-lg-2"><span data-bind="text:Author" /></td>
                            <td class="col-lg-2">
                                <div data-toggle="tooltip" style="overflow: hidden; height: 20px" data-bind="text:Summary,attr:{title:Summary}"></div>
                            </td>
                        </tr>
                        <!--/ko-->
                        <!--/ko-->
                    </tbody>
                    <tfoot data-bind="with:PatientMedicalRecordViewModels">
                        <!--ko if:PatientMedicalRecordByPatientIDDetails()==null || PatientMedicalRecordByPatientIDDetails().length==0-->
                        <tr>
                            <td colspan="6">
                                <div class="alert alert-info">
                                    <button type="button" class="close" data-dismiss="alert">
                                        &times;
                                    </button>
                                    No Result Found.
                                </div>
                            </td>
                        </tr>
                        <!-- /ko -->
                    </tfoot>
                </table>
                <div class="col-sm-12"><a class="btn btn-default padding-btn color-black pull-right margintop15 marginbottom5" data-bind=" attr:{href:'/Patient/PatientDemographics/'+PatientID()+'/'+ClaimID() +'/m',target:'_blank'}">See All</a></div>
                <nav class="margin-left">
                    @Html.Partial("~/Views/Shared/_Paging.cshtml")
                </nav>
            </div>
        </div>
        <!-- col-sm-12 -->
    </div>
    @using (Html.BeginForm(GlobalConst.Actions.PreparationController.ClinicalTriageActionProcess, GlobalConst.Controllers.Preparation, System.Web.Mvc.FormMethod.Post, new
{
    id = "frmClinicalTriageAction",
    enctype = "multipart/form-data",
    data_bind = "ajaxForm : { success : function(responseText ,statusText,xhr,$form){ClinicalTriageActionSuccess(responseText);},beforeSubmit : ClinicalTriageActionInfoFormBeforeSubmit}"
}))
    {
        <input type="hidden" name="ProcessLevel" data-bind="value:ProcessLevel()" />
        <div class="row">
            <div class="col-sm-12 margintop30">
                <div class="white-background">
                    <h4 style="padding: 5px; text-align: center;">Clinical Triage</h4>
                    <input type="hidden" name="RFAReferralID" data-bind="value:RFAReferralID" />
                    <table class="table table-bordered table-striped table-condensed home-table">
                        <tbody>
                            <tr>
                                <th class="col-lg-3">Referral ID</th>
                                <td class="col-lg-3" data-bind="text:RFAReferralID"></td>
                                <th class="col-lg-3">Request Remaining</th>
                                <td class="col-lg-3" data-bind="text:NumberOfPendingRequest"></td>
                            </tr>
                            <tr>
                                <th class="col-lg-3">Request</th>
                                <td class="col-lg-9 " colspan="3" data-bind="with:patientAndRequestModel">
                                    <select class="form-control" required="required" data-bind="foreach : RequestDetail,value:$root.selectedRequest">
                                        <!--ko if:DecisionID() != 0 || (RFAStatus() == "SendToPreparation" ||  RFAStatus() == "Peer Review")-->
                                        <option style="background-color: #C0C0C0;" data-bind="value : RFARequestID, text : RFARequestedTreatment "></option>
                                        <!--/ko-->
                                        <!--ko if:DecisionID() == 0 && (RFAStatus() == "SendToClinical" ||  RFAStatus() == null)-->
                                        <option data-bind="value : RFARequestID, text : RFARequestedTreatment "></option>
                                        <!--/ko-->
                                    </select>
                                </td>
                                @*  <td class="col-lg-3">
                                        <input type="text" class="form-control" data-bind="value: RequestName, enable: $root.IsenableRequestName" />
                                    </td>*@
                            </tr>
                            <tr>
                                <th class="col-lg-3">Due Date</th>
                                <td colspan="3" data-bind="text:RFALatestDueDate()"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- white-background -->
            </div>
            <!-- col-sm-12 -->
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="white-background">
                    <h4 style="padding: 5px;">Decision</h4>
                    <table class="table table-bordered table-striped table-condensed home-table">
                        <tbody>
                            <tr>
                                <td>
                                    <select class="form-control" id="selStatus" name="StatusID" data-bind="options: Status, optionsText: 'StatusName',  optionsCaption:'Select Decision',  optionsValue: 'StatusID',value:$root.selectedDecision,event: { change: $root.DecisionChanged }"></select>
                                    <button class="btn btn-default padding-btn  color-black" id="btnOpenRequestDetailPop" style="display: none" data-target="#myRequestDetail" data-backdrop="static" data-keyboard="false" data-toggle="modal" type="button">Open Request Detail Pop</button>
                                    <button class="btn btn-default padding-btn  color-black" id="btnOpenDeferralPopUp" style="display: none" data-target="#myDeferralPopUp" data-backdrop="static" data-keyboard="false" data-toggle="modal" type="button">Open Request Detail Pop</button>
                                    <button class="btn btn-default padding-btn  color-black" id="btnOpenUnabletoReviewPop" style="display: none" data-target="#myUnabletoReview" data-backdrop="static" data-keyboard="false" data-toggle="modal" type="button">Open Unable to Review PopUp</button>
                                    <button class="btn btn-default padding-btn  color-black" id="btnOpenDulicatePopUP" style="display: none" data-target="#myDuplicatePopUp" data-backdrop="static" data-keyboard="false" data-toggle="modal" type="button">Open Duplicate PopUp</button>
                                    <button class="btn btn-default padding-btn  color-black" id="btnOpenWithdrawnPopUP" style="display: none" data-target="#myWithdrawnPopUp" data-backdrop="static" data-keyboard="false" data-toggle="modal" type="button">Open Withdrawn PopUp</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- white-background -->
            </div>
            <!-- col-sm-12 -->
        </div>
    <div class="row">
        <div class="col-sm-12 ">
            <div class="white-background">
                <table class="table table-bordered table-striped table-condensed home-table">
                    <tbody>
                        <tr>
                            <td class="btn-align-c">
                                <input type="hidden" id="hdRFAClinicalReasonforDecision" data-bind="value: RFAClinicalReasonforDecision" />
                                <!--ko if:RFAClinicalReasonforDecision()!=null -->
                                <!--ko if:selectedDecision()!=1 || selectedDecision()=="" || selectedDecision()==null -->
                                <button class="btn btn-default padding-btn  color-black" id="btnRFAClinicalReasonforDecision" data-target="#myClinicalReasonforDecision" data-backdrop="static" data-keyboard="false" data-toggle="modal" type="button" data-bind="click:$root.OpenrichtextPopUp1">Summary </button>
                                <!--/ko-->
                                <!--ko if:selectedDecision()==1 -->
                                <button class="btn btn-default padding-btn btncolor color-black" id="btnRFAClinicalReasonforDecision" data-target="#myClinicalReasonforDecision" data-backdrop="static" data-keyboard="false" data-toggle="modal" type="button" data-bind="click:$root.OpenrichtextPopUp1 , enable: NotesButtonDisable">Summary </button>
                                <!--/ko-->
                                <!--/ko-->
                                <!--ko if: RFAClinicalReasonforDecision()==null -->
                                <button class="btn btn-default padding-btn btncolor color-black" id="btnRFAClinicalReasonforDecision" data-target="#myClinicalReasonforDecision" data-backdrop="static" data-keyboard="false" data-toggle="modal" type="button" data-bind="click:$root.OpenrichtextPopUp1 , enable: NotesButtonDisable">Summary </button>
                                <!--/ko-->
                            </td>                           
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- white-background -->
        </div>
        <!-- col-sm-12 -->
    </div>
        <div class="row">
            <div class="col-sm-12 ">
                <div class="white-background">
                    <table class="table table-bordered table-striped table-condensed home-table">
                        <tbody>
                            <tr>                                
                                <td class="btn-align-c">
                                    <!--ko if:RFAGuidelinesUtilized()!=null-->
                                    <!--ko if:selectedDecision()!=1 -->
                                    <button class="btn btn-default padding-btn  color-black" id="btnRFAGuidelinesUtilized" data-target="#myGuidelinesUtilized " data-backdrop="static" data-keyboard="false" data-toggle="modal" type="button" data-bind="click:$root.OpenrichtextPopUp2 ">Clinical Reason for Decision </button>
                                    <!--/ko-->
                                    <!--ko if:selectedDecision()==1 -->
                                    <button class="btn btn-default padding-btn btncolor color-black" id="btnRFAGuidelinesUtilized" data-target="#myGuidelinesUtilized " data-backdrop="static" data-keyboard="false" data-toggle="modal" type="button" data-bind="click:$root.OpenrichtextPopUp2 , enable: NotesButtonDisable">Clinical Reason for Decision </button>
                                    <!--/ko-->
                                    <!--/ko-->
                                    <!--ko if:RFAGuidelinesUtilized()==null-->
                                    <button class="btn btn-default padding-btn btncolor color-black" id="btnRFAGuidelinesUtilized" data-target="#myGuidelinesUtilized " data-backdrop="static" data-keyboard="false" data-toggle="modal" type="button" data-bind="click:$root.OpenrichtextPopUp2 , enable: NotesButtonDisable">Clinical Reason for Decision </button>
                                    <!--/ko-->
                                </td>
                                <td class="btn-align-c">
                                    <!--ko if:RFARelevantPortionUtilized()!=null-->
                                    <!--ko if:selectedDecision()!=1 -->
                                    <button class="btn btn-default padding-btn  color-black" id="btnRFARelevantPortionUtilized" data-target="#myRelevantPortionUtilized " data-backdrop="static" data-keyboard="false" data-toggle="modal" type="button" data-bind="click:$root.OpenrichtextPopUp3 ">Guidelines Utilized </button>
                                    <!--/ko-->
                                    <!--ko if:selectedDecision()==1 -->
                                    <button class="btn btn-default padding-btn btncolor color-black" id="btnRFARelevantPortionUtilized" data-target="#myRelevantPortionUtilized " data-backdrop="static" data-keyboard="false" data-toggle="modal" type="button" data-bind="click:$root.OpenrichtextPopUp3 , enable: NotesButtonDisable">Guidelines Utilized</button>
                                    <!--/ko-->
                                    <!--/ko-->
                                    <!--ko if:RFARelevantPortionUtilized()==null-->
                                    <button class="btn btn-default padding-btn btncolor color-black" id="btnRFARelevantPortionUtilized" data-target="#myRelevantPortionUtilized " data-backdrop="static" data-keyboard="false" data-toggle="modal" type="button" data-bind="click:$root.OpenrichtextPopUp3 , enable: NotesButtonDisable">Guidelines Utilized</button>
                                    <!--/ko-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- white-background -->
            </div>
            <!-- col-sm-12 -->
        </div>
        <div class="row">
            <div class="col-sm-12 ">
                <div class="white-background">
                    <h4 style="padding: 5px;">Referral Diagnosis</h4>
                    <table class="table table-bordered table-striped table-condensed home-table">
                        <thead>
                            <tr>
                                <th>Diagnosis Number</th>
                                <th>Diagnosis Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="with:rfaDiagnosisViewModel ">
                            <!--ko if:RFADiagnosisDetails() != null-->
                            <!--ko foreach:RFADiagnosisDetails-->
                            <tr>
                                <td>
                                    <span data-bind="text:icdICDNumber" />
                                    <input type="hidden" data-bind="value:PatientClaimID" />
                                    <input type="hidden" data-bind="value:RFAReferralID" />
                                    <input type="hidden" data-bind="value:PatientClaimDiagnosisID">
                                </td>
                                <td><span data-bind="text:ICDDescription" /></td>
                                <td><a href="#" data-bind="click: $root.removeClaimDiagonsis">Delete</a></td>
                            </tr>
                            <!--/ko-->
                            <!--/ko-->
                        </tbody>
                        <tfoot data-bind="with:rfaDiagnosisViewModel">
                            <!--ko if:RFADiagnosisDetails()==null || RFADiagnosisDetails().length==0-->
                            <tr>
                                <td colspan="6">
                                    <div class="alert alert-info">
                                        <button type="button" class="close" data-dismiss="alert">
                                            &times;
                                        </button>
                                        No Result Found.
                                    </div>
                                </td>
                            </tr>
                            <!-- /ko -->
                        </tfoot>
                    </table>
                    <nav class="margin-left">
                        <!-- ko if:cdPager().cdTotalItemCount() > 0 -->
                        <div class="pagination" data-bind="with: cdPager">
                            <div class="pagexofx">
                                <span data-bind="text:cdFirstItemIndex"></span>
                                -
                                <span data-bind="text: cdLastItemIndex"></span>
                                of
                                <strong>
                                    <span data-bind="text: cdTotalItemCount"></span>
                                </strong>
                                total results.
                            </div>
                            <ul class="pagination">
                                <!-- ko if:cdCurrentPage() === 1 -->
                                <li class="disabled">
                                    <a href="#" class="disabledPage">&laquo;&laquo;</a>
                                </li>
                                <!-- /ko -->
                                <!-- ko ifnot:cdCurrentPage() === 1 -->
                                <li>
                                    <a href="#" data-bind="click: function(){ cdCurrentPage(1); }">&laquo;&laquo;</a>
                                </li>
                                <!-- /ko -->
                                <!-- ko if:cdHasPrevPage -->
                                <li>
                                    <a href="#" data-bind="click: function(){ cdCurrentPage(cdCurrentPage() - 1); }">&laquo;</a>
                                </li>
                                <!-- /ko -->
                                <!-- ko ifnot:cdHasPrevPage -->
                                <li class="disabled">
                                    <a href="#" class="disabledPage">&laquo;</a>
                                </li>
                                <!-- /ko -->
                                <!-- ko foreach:cdPages -->
                                <!-- ko if:$data === $parent.cdCurrentPage() -->
                                <li class="active">
                                    <span class="currentPage" data-bind="text: $data"></span>
                                </li>
                                <!-- /ko -->
                                <!-- ko if:$data !== $parent.cdCurrentPage() -->
                                <li>
                                    <a href="#" data-bind="text: $data, click: function(){ $parent.cdCurrentPage($data); }"></a>
                                </li>
                                <!-- /ko -->
                                <!-- /ko -->
                                <!-- ko if:cdHasNextPage -->
                                <li>
                                    <a href="#" data-bind="click: function(){ cdCurrentPage(cdCurrentPage() + 1); }">&raquo;</a>
                                </li>
                                <!-- /ko -->
                                <!-- ko ifnot:cdHasNextPage -->
                                <li class="disabled">
                                    <a href="#" class="disabledPage">&raquo;</a>
                                </li>
                                <!-- /ko -->
                                <!-- ko ifnot:cdCurrentPage() === cdLastPage() -->
                                <li>
                                    <a href="#" data-bind="click: function(){ cdCurrentPage(cdLastPage()); }">&raquo;&raquo;</a>
                                </li>
                                <!-- /ko -->
                                <!-- ko if:cdCurrentPage() === cdLastPage() -->
                                <li class="disabled">
                                    <a href="#" class="disabledPage">&raquo;&raquo;</a>
                                </li>
                                <!-- /ko -->
                            </ul>
                        </div>
                        <!-- /ko -->
                    </nav>
                </div>
                <button tabindex="12" class="btn btn-default padding-btn color-black pull-right margin-left-20 OpenPop" type="button" data-toggle="modal" data-target="#addicd9" data-bind="click:$root.openClaimDiagonsisPopUp" data-backdrop="static">Add New</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ">
                <div class="white-background">
                    <h4 style="padding: 5px;">Note from Preparation</h4>
                    <table class="table table-bordered table-striped table-condensed home-table">
                        <tbody>
                            <tr>
                                <td>
                                    <textarea id="txtRFANotes" readonly="readonly" name="RFANotes" class="col-sm-12" rows="4" data-bind="value:RFANotes"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- white-background -->
            </div>
            <!-- col-sm-12 -->
        </div>
        <div class="row">
            <div class="col-sm-12 ">
                <div class="white-background">
                    <h4 style="padding: 5px;">Medical Records Reviewed</h4>
                    <table class="table table-bordered table-striped table-condensed home-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Physician</th>
                            </tr>
                        </thead>
                        <tbody data-bind="with:rfaPatMedicalRecordReviewViewModels">
                            <!--ko if:RFAPatMedicalRecordReviewDetails() != null-->
                            <!--ko foreach:RFAPatMedicalRecordReviewDetails-->
                            <tr>
                                <td><span data-bind="text:PatMRDocumentName" /></td>
                                <td><span data-bind="text:PatMRDocumentDate" /></td>
                                <td><span data-bind="text:PhysicianName" /></td>
                            </tr>
                            <!--/ko-->
                            <!--/ko-->
                        </tbody>
                        <tfoot data-bind="with:rfaPatMedicalRecordReviewViewModels">
                            <!--ko if:RFAPatMedicalRecordReviewDetails()==null || RFAPatMedicalRecordReviewDetails().length==0-->
                            <tr>
                                <td colspan="6">
                                    <div class="alert alert-info">
                                        <button type="button" class="close" data-dismiss="alert">
                                            &times;
                                        </button>
                                        No Result Found.
                                    </div>
                                </td>
                            </tr>
                            <!-- /ko -->
                        </tfoot>
                    </table>
                    <nav class="margin-left">
                        <!-- ko if:mrPager().mrTotalItemCount() > 0 -->
                        <div class="pagination" data-bind="with: mrPager">
                            <div class="pagexofx">
                                <span data-bind="text:mrFirstItemIndex"></span>
                                -
                                <span data-bind="text: mrLastItemIndex"></span>
                                of
                                <strong>
                                    <span data-bind="text: mrTotalItemCount"></span>
                                </strong>
                                total results.
                            </div>
                            <ul class="pagination">
                                <!-- ko if:mrCurrentPage() === 1 -->
                                <li class="disabled">
                                    <a href="#" class="disabledPage">&laquo;&laquo;</a>
                                </li>
                                <!-- /ko -->
                                <!-- ko ifnot:mrCurrentPage() === 1 -->
                                <li>
                                    <a href="#" data-bind="click: function(){ mrCurrentPage(1); }">&laquo;&laquo;</a>
                                </li>
                                <!-- /ko -->
                                <!-- ko if:mrHasPrevPage -->
                                <li>
                                    <a href="#" data-bind="click: function(){ mrCurrentPage(mrCurrentPage() - 1); }">&laquo;</a>
                                </li>
                                <!-- /ko -->
                                <!-- ko ifnot:mrHasPrevPage -->
                                <li class="disabled">
                                    <a href="#" class="disabledPage">&laquo;</a>
                                </li>
                                <!-- /ko -->
                                <!-- ko foreach:mrPages -->
                                <!-- ko if:$data === $parent.mrCurrentPage() -->
                                <li class="active">
                                    <span class="currentPage" data-bind="text: $data"></span>
                                </li>
                                <!-- /ko -->
                                <!-- ko if:$data !== $parent.mrCurrentPage() -->
                                <li>
                                    <a href="#" data-bind="text: $data, click: function(){ $parent.mrCurrentPage($data); }"></a>
                                </li>
                                <!-- /ko -->
                                <!-- /ko -->
                                <!-- ko if:mrHasNextPage -->
                                <li>
                                    <a href="#" data-bind="click: function(){ mrCurrentPage(mrCurrentPage() + 1); }">&raquo;</a>
                                </li>
                                <!-- /ko -->
                                <!-- ko ifnot:mrHasNextPage -->
                                <li class="disabled">
                                    <a href="#" class="disabledPage">&raquo;</a>
                                </li>
                                <!-- /ko -->
                                <!-- ko ifnot:mrCurrentPage() === mrLastPage() -->
                                <li>
                                    <a href="#" data-bind="click: function(){ mrCurrentPage(mrLastPage()); }">&raquo;&raquo;</a>
                                </li>
                                <!-- /ko -->
                                <!-- ko if:mrCurrentPage() === mrLastPage() -->
                                <li class="disabled">
                                    <a href="#" class="disabledPage">&raquo;&raquo;</a>
                                </li>
                                <!-- /ko -->
                            </ul>
                        </div>
                        <!-- /ko -->
                    </nav>
                    <button class="btn btn-default padding-btn color-black pull-right margin-left-20 margin-btm-30" data-target="#myRFAPatientMedicalRecord" data-bind="click:$root.OpenMedicalRecordReviewInfoPopUp" data-backdrop="static" data-keyboard="false" data-toggle="modal" type="button">Add New</button>
                </div>
            </div>
        </div>
        <!--ko if:ProcessLevel()==130 -->
        <!--ko if:PreviousProcessLevel()==125-->
        <div class="row">
            <div class="col-sm-12 ">
                <div class="white-background">
                    <h4 style="padding: 5px;">Signature</h4>
                    <table class="table table-bordered table-striped table-condensed home-table">
                        <tbody>
                            <tr>
                                <td class="btn-align-c">
                                    <button class="btn btn-default padding-btn  color-black" type="button" data-toggle="modal" data-bind="click:$root.OpenSignaturePopUp" data-keyboard="false" data-backdrop="static" data-target="#mySignatureUpload">Signature Upload</button>
                                </td>
                                <td class="btn-align-c">
                                    <button class="btn btn-default padding-btn  color-black" type="button" id="btnSignatureDescriptionPopup" data-toggle="modal" data-bind="click:$root.OpenSignatureDescriptionPopUp" data-keyboard="false" data-backdrop="static" data-target="#mySignatureDescriptionPopUp">Signature Description</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- white-background -->
            </div>
            <!-- col-sm-12 -->
        </div>
        <!-- /ko -->

        <div class="row">
            <!--ko if:PreviousProcessLevel()!=125-->
            <div class="col-sm-12 ">
                <div class="white-background">
                    <table class="table table-bordered table-striped table-condensed home-table">
                        <tbody>
                            <tr>
                                <th>
                                    <h5>Signature Selection</h5>
                                    <label>RN</label>&nbsp;<input id="RN_ID" type="checkbox" value="RN" class="myCheckbox" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label>MD</label>&nbsp;<input id="MD_ID" type="checkbox" class="myCheckbox" value="MD" />
                                    <input type="hidden" id="Sign_ID" name="SignatureSelect" />
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- white-background -->
            </div>
            <!-- /ko -->
            <!-- col-sm-12 -->
        </div>
        <div class="row">
            <div class="col-sm-12 ">
                <div class="white-background">
                    <div>
                        <table class="table table-bordered table-striped table-condensed home-table">
                            <tbody>
                                <tr>
                                    <th class="col-lg-2">Determination Letter</th>
                                    <td>
                                        <!--ko if:(RFASignature()!=null  && RFASignatureDescription()!=null) || (PreviousProcessLevel()!=125)  -->
                                        <button class="btn btn-default padding-btn  color-black" type="button" data-bind="click:$root.DeterminationLetterClinicalTriage">Preview</button>
                                        <!-- /ko -->
                                        <!--ko if:(RFASignature()==null  || RFASignatureDescription()==null)  && (PreviousProcessLevel()==125) -->
                                        <button class="btn btn-default padding-btn btncolor color-black" type="button" disabled="disabled" data-bind="click:$root.DeterminationLetterClinicalTriage">Preview</button>
                                        <!-- /ko -->


                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- white-background -->
            </div>
            <!-- col-sm-12 -->
        </div>
        <!-- /ko -->

        <div class="row">
            <div class="col-sm-12">
                <!--ko if:NumberOfPendingRequest() > 0-->
                <button class="btn btn-red padding-btn color-black pull-right margin-left-20 margintop15" data-bind="click:$root.updateRequestDecision" type="button">Save</button>
                <!--/ko-->
                <!--ko if:NumberOfPendingRequest() == 0-->
                <button class="btn btn-red padding-btn color-black pull-right margin-left-20 margin-top-10 margintop15" type="submit" id="btnContinue">Continue</button>
                <button class="btn btn-red padding-btn color-black pull-right margin-left-20 margintop15" data-bind="click:$root.updateRequestDecision" type="button">Save</button>
                <!--/ko-->
            </div>
        </div>
    }
    <div class="modal fade bs-example-modal-lg margin-top10" id="myRFAPatientMedicalRecord" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog position-center modal-lg">
            <div class="modal-content">
                <div class="panel-heading">
                    <button type="button" class="close" data-bind="click:$root.closePatientMedicalRecord" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Medical Records Reviewed</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        @using (Html.BeginForm(GlobalConst.Actions.PreparationController.SavePatMedicalRecordReview, GlobalConst.Controllers.Preparation, System.Web.Mvc.FormMethod.Post, new
                        {
                            id = "frmSavePatMedicalRecordReviewInfo",
                            enctype = "multipart/form-data",
                            data_bind = "ajaxForm : { success : function(responseText ,statusText,xhr,$form){RFAPatientMedicalRecordInfoSuccess(responseText);},beforeSubmit :RFAPatientMedicalRecordInfoFormBeforeSubmit}"
                        }))
                        {
                            <div class="row">
                                <div class="client-accordian">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <table id="myTable" class="table table-fixedheader myTable table-bordered table-striped table-condensed home-table">
                                                <thead>
                                                    <tr>
                                                        <th width="25%">
                                                            <input type="checkbox" id="chkSelectAll" data-bind="checked: SelectAll" />
                                                        </th>
                                                        <th class="myTable" width="25%">Name</th>
                                                        <th class="myTable" width="25%">Date</th>
                                                        <th width="25%">Physician</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="height: 150px" data-bind="event: { scroll: scrolled }">
                                                    <!--ko if:PatientMedicalAllRecords() != null-->
                                                    <!--ko foreach:PatientMedicalAllRecords-->
                                                    <tr>
                                                        <td class="myTable" width="25%">
                                                            <input type="hidden" data-bind="attr: { name: 'RFAPatMedicalRecordReview['+ $index() + '\].RFARecSpltID' },value:PatientMedicalRecordID" />
                                                            <input type="hidden" data-bind="attr: { name: 'RFAPatMedicalRecordReview['+ $index() + '\].IsChecked' },value:IsChecked" />
                                                            <input type="hidden" data-bind="attr: { name: 'RFAPatMedicalRecordReview['+ $index() + '\].RFAReferralID' },value:$root.RFAReferralID" />
                                                            <input type="checkbox" name="RFAPatMedicalRecordReview[]" data-bind="checked: IsChecked" />
                                                        </td>
                                                        <td class="myTable" width="25%"><span data-bind="text:PatMRDocumentName" /></td>
                                                        <td width="25%" class="myTable"><span data-bind="text:PatMRDocumentDate" /></td>
                                                        <td width="25%" class="myTable"><span data-bind="text:PhysicianName" /></td>
                                                    </tr>
                                                    <!--/ko-->
                                                    <!--/ko-->
                                                </tbody>
                                                <tfoot>
                                                    <!--ko if:PatientMedicalAllRecords()==null || PatientMedicalAllRecords().length==0-->
                                                    <tr>
                                                        <td colspan="6">
                                                            <div class="alert alert-info">
                                                                <button type="button" class="close" data-dismiss="alert">
                                                                    &times;
                                                                </button>
                                                                No Result Found.
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <!-- /ko -->
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <button class="btn btn-red padding-btn color-black pull-right margin-left-20 margin-btm-30" type="submit">Save</button>
                                </div>
                                <!-- col-lg-12 -->
                            </div>
                            <!-- row -->
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="myClinicalReasonforDecision" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog position-center modal-lg">
            <div class="modal-content">
                <div class="panel-heading">
                    <button type="button" class="close" data-bind="click:$root.closeClinicalReasonforDecision" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Clinical Reason for Decision </h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="row">
                            <div id="divEditor">
                                @Html.Raw(ViewBag.Editor1)
                            </div>
                            <button class="btn btn-red  padding-btn color-black pull-right margintop10" data-dismiss="modal" data-toggle="modal" type="button" data-bind="click: $root.btnRFAClinicalReasonforDecision">Save </button>
                        </div>
                        <!-- row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="myGuidelinesUtilized" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog position-center modal-lg">
            <div class="modal-content">
                <div class="panel-heading">
                    <button type="button" class="close" data-bind="click:$root.closeGuidelinesUtilized" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Guidelines Utilized  </h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="row">
                            <div id="divEditor2">
                                @Html.Raw(ViewBag.Editor2)
                            </div>
                            <button class="btn btn-red padding-btn color-black pull-right margintop10 " data-dismiss="modal" data-toggle="modal" type="button" data-bind="click: $root.btnRFAGuidelinesUtilized">Save</button>
                        </div>
                        <!-- row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="myRelevantPortionUtilized" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog position-center modal-lg">
            <div class="modal-content">
                <div class="panel-heading">
                    <button type="button" class="close" data-bind="click:$root.closeRelevantPortionUtilized" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Relevant Portion Utilized </h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="row">
                            <div id="divEditor3">
                                @Html.Raw(ViewBag.Editor3)
                            </div>
                            <button class="btn btn-red padding-btn color-black pull-right margintop10" data-dismiss="modal" data-toggle="modal" type="button" data-bind="click: $root.btnRFARelevantPortionUtilized">Save</button>
                        </div>
                        <!-- row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addicd9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-lg popup-top ">
            <div class="modal-content">
                <div class="panel-heading">
                    <button type="button" id="buttonCloseCD" class="close icdSearchClosePop" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add Claim Diagnosis</h4>
                </div>
                <div class="panel-body">
                    <div class="divClaim">
                        <div class="row">
                            <div class="panel-wrapper">
                                <div class="panel-body">
                                    <div class="col-md-2">
                                        <label>Claim Status:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="col-md-6"><input type="text" name="SearchNewDiagnosisTitle" id="SearchDiagnosisTitle" class="form-control" maxlength="255" data-bind="jqBootstrapValidation: {}" placeholder="Search Diagnosis"></div>
                                        <div class="col-md-6"><select id="ICDDrp" name="ICDDrp" class="form-control-widget col-md-5 form-control" data-bind="options:ICDSearchType, optionsValue:'SearchCriteria',optionsText:'SearchCriteriaName'"></select></div>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="#" class="btn btn-default text-right" id="NewClaimDiagnosis" data-bind="click:$root.SearchNewDiagnosis">Search</a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="panel panel-default">
                                        <!-- Table -->
                                        <table class="table table-bordered table-striped table-condensed home-table">
                                            <thead>
                                                <tr>
                                                    <th>Diagnosis Number</th>
                                                    <th>Diagnosis Description</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!--ko if:icdSearchDataResult!= null-->
                                                <!-- ko foreach:icdSearchDataResult -->
                                                <tr>
                                                    <td>
                                                        <span data-bind="text:icdICDNumber" />
                                                        <input type="hidden" data-bind="attr: { name: ' objPatientModel.ICDCodeDetails['+ $index() + '\].icdICDNumberID' },value:icdICDNumberID" />
                                                        <input type="hidden" data-bind="attr: { name: ' objPatientModel.ICDCodeDetails['+ $index() + '\].icdICDNumber' },value:icdICDNumber" />
                                                        <input type="hidden" data-bind="attr: { name: ' objPatientModel.ICDCodeDetails['+ $index() + '\].ICDDescription' },value:ICDDescription" />
                                                        <input type="hidden" data-bind="attr: { name: ' objPatientModel.ICDCodeDetails['+ $index() + '\].ICDType' },value:ICDType" />
                                                    </td>
                                                    <td><span data-bind="text:ICDDescription" /></td>
                                                    <td><a href="#" class="icdSearchClosePop inner-content-link blue " style="color: #808080;" data-bind="click:$root.AddNewClaimDiagonsis">Select</a></td>
                                                </tr>
                                                <!--/ko-->
                                                <!--/ko-->
                                            </tbody>
                                            <tfoot>
                                                <!--ko if:icdSearchDataResult()==null || icdSearchDataResult().length==0-->
                                                <tr>
                                                    <td colspan="6">
                                                        <div class="alert alert-info">
                                                            <button type="button" class="close" data-dismiss="alert">
                                                                &times;
                                                            </button>
                                                            No Result Found.
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- /ko -->
                                            </tfoot>
                                        </table>
                                        <nav class="margin-left">
                                            <!-- ko if:rdPager().rdTotalItemCount() > 0 -->
                                            <div class="pagination" data-bind="with: rdPager">
                                                <div class="pagexofx">
                                                    <span data-bind="text:rdFirstItemIndex"></span>
                                                    -
                                                    <span data-bind="text: rdLastItemIndex"></span>
                                                    of
                                                    <strong>
                                                        <span data-bind="text: rdTotalItemCount"></span>
                                                    </strong>
                                                    total results.
                                                </div>
                                                <ul class="pagination">
                                                    <!-- ko if:rdCurrentPage() === 1 -->
                                                    <li class="disabled">
                                                        <a href="#" class="disabledPage">&laquo;&laquo;</a>
                                                    </li>
                                                    <!-- /ko -->
                                                    <!-- ko ifnot:rdCurrentPage() === 1 -->
                                                    <li>
                                                        <a href="#" data-bind="click: function(){ rdCurrentPage(1); }">&laquo;&laquo;</a>
                                                    </li>
                                                    <!-- /ko -->
                                                    <!-- ko if:rdHasPrevPage -->
                                                    <li>
                                                        <a href="#" data-bind="click: function(){ rdCurrentPage(rdCurrentPage() - 1); }">&laquo;</a>
                                                    </li>
                                                    <!-- /ko -->
                                                    <!-- ko ifnot:rdHasPrevPage -->
                                                    <li class="disabled">
                                                        <a href="#" class="disabledPage">&laquo;</a>
                                                    </li>
                                                    <!-- /ko -->
                                                    <!-- ko foreach:rdPages -->
                                                    <!-- ko if:$data === $parent.rdCurrentPage() -->
                                                    <li class="active">
                                                        <span class="currentPage" data-bind="text: $data"></span>
                                                    </li>
                                                    <!-- /ko -->
                                                    <!-- ko if:$data !== $parent.rdCurrentPage() -->
                                                    <li>
                                                        <a href="#" data-bind="text: $data, click: function(){ $parent.rdCurrentPage($data); }"></a>
                                                    </li>
                                                    <!-- /ko -->
                                                    <!-- /ko -->
                                                    <!-- ko if:rdHasNextPage -->
                                                    <li>
                                                        <a href="#" data-bind="click: function(){ rdCurrentPage(rdCurrentPage() + 1); }">&raquo;</a>
                                                    </li>
                                                    <!-- /ko -->
                                                    <!-- ko ifnot:rdHasNextPage -->
                                                    <li class="disabled">
                                                        <a href="#" class="disabledPage">&raquo;</a>
                                                    </li>
                                                    <!-- /ko -->
                                                    <!-- ko ifnot:rdCurrentPage() === rdLastPage() -->
                                                    <li>
                                                        <a href="#" data-bind="click: function(){ rdCurrentPage(rdLastPage()); }">&raquo;&raquo;</a>
                                                    </li>
                                                    <!-- /ko -->
                                                    <!-- ko if:rdCurrentPage() === rdLastPage() -->
                                                    <li class="disabled">
                                                        <a href="#" class="disabledPage">&raquo;&raquo;</a>
                                                    </li>
                                                    <!-- /ko -->
                                                </ul>
                                            </div>
                                            <!-- /ko -->
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade top20 bs-example-modal-lg" id="myRequestDetail" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog position-center modal-lg">
            <div class="modal-content">
                <div class="panel-heading">
                    <button type="button" class="close" data-bind="click:$root.closeRequestDetailPopup" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Request Detail</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <div class="form-group row label-font clearfix">
                                <label class="col-sm-4 control-label"><span class="required-link">*</span>Requested Treatment :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" required="required" id="txtRequestName" maxlength="250" data-bind="value:RequestName,jqBootstrapValidation: {}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group row label-font clearfix">
                                <label class="col-sm-4 control-label">Frequency :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" data-validation-regex-regex="^[0-9]*$" data-validation-regex-message="Must be a number" maxlength="250" data-bind="value:RFAFrequency,jqBootstrapValidation: {}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group row label-font clearfix">
                                <label class="col-sm-4 control-label">Duration :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" data-validation-regex-regex="^[0-9]*$" data-validation-regex-message="Must be a number" maxlength="50" data-bind="value:RFADuration, jqBootstrapValidation: {}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group row label-font clearfix">
                                <label class="col-sm-4 control-label"><span class="required-link">*</span>Duration Type :</label>
                                <div class="col-sm-8">
                                    <select id="RFADurationTypeID" class="form-control" required="required" data-bind="options: durationTypes, optionsText: 'DurationTypeName', optionsValue: 'DurationTypeID',
                                                                                                                                value:SelectedDurationTypeID,jqBootstrapValidation: {}"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn btn-red  padding-btn color-black pull-right margintop10" data-dismiss="modal" data-toggle="modal" type="button" id="btnRequestDetailPopup">Save </button>
                        </div>
                        <!-- row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal top20 fade bs-example-modal-lg" id="myDeferralPopUp" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog position-center modal-lg">
            <div class="modal-content">
                <div class="panel-heading">
                    <button type="button" class="close" data-bind="click:$root.closeRationaleDetailPopup" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Rationale Detail</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <div class="form-group row label-font clearfix">
                                <label class="col-sm-4 control-label"><span class="required-link">*</span>Denied Rationale :</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="txtRationaleDetail" required="required" data-bind="value:DeniedRationale,jqBootstrapValidation: {}"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn btn-red  padding-btn color-black pull-right margintop10" data-dismiss="modal" data-toggle="modal" type="button" id="btnDeniedRationale">Save </button>
                        </div>
                        <!-- row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade top20 bs-example-modal-lg" id="myUnabletoReview" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog position-center modal-lg">
            <div class="modal-content">
                <div class="panel-heading">
                    <button type="button" class="close" data-bind="click:$root.closeUnabletoReviewPopup" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Unable to Review</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <div class="form-group row label-font clearfix">
                                <div class="col-sm-12">
                                    @* <div class="col-sm-4">
                                            <input type="radio" data-bind="checked:$root.SelectedUnabletoReviewLetters" value="1" disabled>
                                            Incomplete RFA Form
                                        </div>*@
                                    <div class="col-sm-4">
                                        <input type="radio" data-bind="checked:$root.SelectedUnabletoReviewLetters" value="2">
                                        No RFA Form
                                    </div>
                                    @* <div class="col-sm-4">
                                            <input type="radio" data-bind="checked:$root.SelectedUnabletoReviewLetters" value="3"  disabled>
                                            Decline Internal Appeal
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn btn-red  padding-btn color-black pull-right margintop10" data-dismiss="modal" data-toggle="modal" type="button" id="btnUnabletoReview">Save </button>
                        </div>
                        <!-- row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal top20 fade bs-example-modal-lg" id="myDuplicatePopUp" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog position-center modal-lg">
            <div class="modal-content">
                <div class="panel-heading">
                    <button type="button" class="close" data-bind="click:$root.closeDuplicateDetailPopup" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        UR History
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <table class="table  table-bordered table-striped table-condensed home-table">
                            <thead>
                                <tr>
                                    <th>Request Name</th>
                                    <th>ReferralID</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--ko if:RequestForDuplicateDecision() != null-->
                                <!--ko foreach:RequestForDuplicateDecision-->
                                <tr>
                                    <td>
                                        <input type="radio" name="PreviousRequestName" data-bind="value:RFARequestID,checked:$root.SelectedPreviousRequestID,click:$root.changePreviousRequest">
                                        <span data-bind="text:RFARequestedTreatment" />
                                    </td>
                                    <td><span data-bind="text:RFAReferralID"></span></td>
                                </tr>
                                <!--/ko-->
                                <!--/ko-->
                            </tbody>
                            <tfoot>
                                <!--ko if:RequestForDuplicateDecision()==null || RequestForDuplicateDecision().length==0-->
                                <tr>
                                    <td colspan="6">
                                        <div class="alert alert-info">
                                            <button type="button" class="close" data-dismiss="alert">
                                                &times;
                                            </button>
                                            No Result Found.
                                        </div>
                                    </td>
                                </tr>
                                <!-- /ko -->
                            </tfoot>
                        </table>
                        <nav class="margin-left">
                            <!-- ko if:drPager().drTotalItemCount() > 0 -->
                            <div class="pagination" data-bind="with: drPager">
                                <div class="pagexofx">
                                    <span data-bind="text:drFirstItemIndex"></span>
                                    -
                                    <span data-bind="text: drLastItemIndex"></span>
                                    of
                                    <strong>
                                        <span data-bind="text: drTotalItemCount"></span>
                                    </strong>
                                    total results.
                                </div>
                                <ul class="pagination">
                                    <!-- ko if:drCurrentPage() === 1 -->
                                    <li class="disabled">
                                        <a href="#" class="disabledPage">&laquo;&laquo;</a>
                                    </li>
                                    <!-- /ko -->
                                    <!-- ko ifnot:drCurrentPage() === 1 -->
                                    <li>
                                        <a href="#" data-bind="click: function(){ drCurrentPage(1); }">&laquo;&laquo;</a>
                                    </li>
                                    <!-- /ko -->
                                    <!-- ko if:drHasPrevPage -->
                                    <li>
                                        <a href="#" data-bind="click: function(){ drCurrentPage(drCurrentPage() - 1); }">&laquo;</a>
                                    </li>
                                    <!-- /ko -->
                                    <!-- ko ifnot:drHasPrevPage -->
                                    <li class="disabled">
                                        <a href="#" class="disabledPage">&laquo;</a>
                                    </li>
                                    <!-- /ko -->
                                    <!-- ko foreach:drPages -->
                                    <!-- ko if:$data === $parent.drCurrentPage() -->
                                    <li class="active">
                                        <span class="currentPage" data-bind="text: $data"></span>
                                    </li>
                                    <!-- /ko -->
                                    <!-- ko if:$data !== $parent.drCurrentPage() -->
                                    <li>
                                        <a href="#" data-bind="text: $data, click: function(){ $parent.drCurrentPage($data); }"></a>
                                    </li>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                    <!-- ko if:drHasNextPage -->
                                    <li>
                                        <a href="#" data-bind="click: function(){ drCurrentPage(drCurrentPage() + 1); }">&raquo;</a>
                                    </li>
                                    <!-- /ko -->
                                    <!-- ko ifnot:drHasNextPage -->
                                    <li class="disabled">
                                        <a href="#" class="disabledPage">&raquo;</a>
                                    </li>
                                    <!-- /ko -->
                                    <!-- ko ifnot:drCurrentPage() === drLastPage() -->
                                    <li>
                                        <a href="#" data-bind="click: function(){ drCurrentPage(drLastPage()); }">&raquo;&raquo;</a>
                                    </li>
                                    <!-- /ko -->
                                    <!-- ko if:drCurrentPage() === drLastPage() -->
                                    <li class="disabled">
                                        <a href="#" class="disabledPage">&raquo;&raquo;</a>
                                    </li>
                                    <!-- /ko -->
                                </ul>
                            </div>
                            <!-- /ko -->
                        </nav>
                        <div class="row">
                            <button class="btn btn-red  padding-btn color-black pull-right margintop10" data-dismiss="modal" data-toggle="modal" type="button" id="btnDuplicate">Save </button>
                        </div>
                        <!-- row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal top20 fade bs-example-modal-lg" id="mySignatureUpload" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog position-center modal-lg">
            <div class="modal-content">
                <div class="panel-heading">
                    <button type="button" class="close" data-bind="click:$root.closeSignatureUploadPopup" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Signature Detail</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm(GlobalConst.Actions.PreparationController.UploadSignature, GlobalConst.Controllers.Preparation, FormMethod.Post, new
                    {
                        id = "frmSaveUserDetails",
                        enctype = "multipart/form-data",
                        data_bind = "ajaxForm:{ success: function(responseText, statusText, xhr, $form){ UploadSignatureSuccess(responseText);},beforeSubmit:UploadSignatureBeforeSubmit}"
                    }))
                    {
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div class="form-group row label-font clearfix">
                                    <label class="col-sm-4 control-label"><span class="required-link">*</span>Upload Signature :</label>
                                    <div class="col-sm-8">
                                        <input type="file" class="fileuploadborder form-control" name="RFASignatureFile" id="RFAReferralSignature" required="required" data-bind="jqBootstrapValidation: {}">
                                        <input type="hidden" name="RFASignature" id="RFASignature" data-bind="value:RFASignature" />
                                        <input type="hidden" name="RFAReferralID" data-bind="value:RFAReferralID()" />
                                        <!-- ko if: RFASignature()!=null -->
                                        <img data-toggle="popover" class="signature-icon margintop40" data-bind="attr:{src: RFASignature}" />
                                        <!-- /ko -->
                                        <label id="lblFileValidation" style="color: red"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <button class="btn btn-red  padding-btn color-black pull-right margintop10" type="submit" id="btnUploadSignature">Save </button>
                            </div>
                            <!-- row -->
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="mySignatureDescriptionPopUp" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog position-center modal-lg">
            <div class="modal-content">
                <div class="panel-heading">
                    <button type="button" class="close" data-bind="click:$root.closeSignatureDescriptionPopUp" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Signature Description</h4>
                </div>
                @using (Html.BeginForm(GlobalConst.Actions.PreparationController.SaveSignatureDescription, GlobalConst.Controllers.Preparation, FormMethod.Post, new
                {
                    id = "frmSignatureDescriptionDetails",
                    enctype = "multipart/form-data",
                    data_bind = "ajaxForm:{ success: function(responseText, statusText, xhr, $form){ UploadSignatureDescriptionSuccess(responseText);},beforeSubmit:UploadSignatureDescriptionBeforeSubmit}"
                }))
                {
                    <div class="modal-body">
                        <div class="panel-body">
                            <div class="row">
                                <div id="divEditor4">
                                    @Html.Raw(ViewBag.Editor4)
                                    <input type="hidden" name="RFAReferralID" data-bind="value:RFAReferralID()" />
                                    <input type="hidden" name="RFASignatureDescription" id="hdfRFASignatureDescription" />
                                </div>
                                <button class="btn btn-red  padding-btn color-black pull-right margintop10" data-bind="click:$root.saveSignatureDescription" type="submit" id="btnSignatureDescription">Save </button>
                            </div>
                            <!-- row -->
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <button class="btn btn-default padding-btn hidden color-black" id="btnRequestBillingPopUp" data-target="#myRequestBillingPopUp " data-backdrop="static" data-keyboard="false" data-toggle="modal" type="button" data-bind="click:$root.OpenrichtextPopUp3 ">Request Billing </button>
    <div class="modal fade bs-example-modal-lg" id="myRequestBillingPopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog position-center modal-lg">
            <div class="modal-content">
                <div class="panel-heading">
                    <h4 class="modal-title">Request Billing</h4>
                    <button type="button" id="closeRequestBillingPopUp" style="display:none" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="row panel-body">
                    @{Html.RenderPartial("~/Views/Shared/ClinicalAudit/_RequestBillingPartial.cshtml");}
                </div>
            </div>
        </div>
    </div>
    @*    @using (Html.BeginForm("GenerateInitialNotificationLetter", GlobalConst.Controllers.Preparation, System.Web.Mvc.FormMethod.Post, new
                            {
                                id = "frmgenerateLetter",
                                enctype = "multipart/form-data",
                            }))
        {
            <input type="hidden" name="DownloadToken" id="download_token_value" />
            <input type="hidden" name="referralID" data-bind="value:RFAReferralID()" />
        }*@
    <button class="btn btn-default padding-btn hidden color-black" id="btnEmailMahiPopUp" data-target="#SendEmailMahiPopUp " data-backdrop="static" data-keyboard="false" data-toggle="modal" type="button">Send Multiple Email </button>
    @using (Html.BeginForm(GlobalConst.Actions.PreparationController.EmailSendMultipleDoc, GlobalConst.Controllers.Preparation, System.Web.Mvc.FormMethod.Post, new
    {
        id = "frmMulitpleEmails",
        enctype = "multipart/form-data",
        data_bind = "ajaxForm : { success : function(responseText ,statusText,xhr,$form){ClinicalTriageMultipleEmailSuccess(responseText);},beforeSubmit : ClinicalTriageMultipleEmailInfoFormBeforeSubmit}"
    }))
    {
        <div class="modal fade bs-example-modal-lg" id="SendEmailMahiPopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog position-center modal-lg">
                <div class="modal-content">
                    <div class="panel-heading">
                        <button type="button" id="closeEmailMahiPopUp" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Send Email</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div class="form-group row label-font clearfix">
                                    <label for="inputEmail3" class="col-sm-3 control-label"><span class="required-link">*</span>To :</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" onkeydown="if (event.keyCode == 13) alert('enter')" required id="SendEMailTo" name="SendEMailTo" data-bind="jqBootstrapValidation: {}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group row label-font clearfix">
                                    <label for="inputEmail13" class="col-sm-3 control-label"><span class="required-link">*</span>CC :</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="SendEMailCc" name="SendEMailCc">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group row label-font clearfix">
                                    <label for="inputEmail13" class="col-sm-3 control-label"><span class="required-link">*</span>Attachment :</label>
                                    <div class="col-sm-9">
                                        <!--ko if:AttachmentForEmailArray()!= null-->
                                        <!-- ko foreach:AttachmentForEmailArray -->
                                        <div class="col-sm-3" style="background:#eee; border:2px solid #fff;">
                                            <a data-bind="attr:{href:AttachmentDownload,target:'_blank'}" style="float: left;padding:10px; width:90%">
                                                <div data-toggle="tooltip" style="overflow: hidden; height: 20px" data-bind="text: AttachmentShortName,attr:{title:AttachmentName}"></div>
                                            </a>
                                            <input type="hidden" data-bind="attr: { name: 'AttachmentForEmailArray['+ $index() + '\].AttachmentLink' },value:AttachmentLink" />
                                            <a href="#" data-bind="click: function(){removeMultipleAttachment($index())}" class="glyphicon glyphicon-remove margintop10"></a>
                                        </div>
                                        <!--/ko-->
                                        <!--/ko-->

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group row label-font clearfix">
                                    <label for="inputEmail3" class="col-sm-3 control-label"><span class="required-link">*</span>Subject :</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" maxlength="256" id="Sendsubject" required name="Sendsubject" data-bind="jqBootstrapValidation: {}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group row label-font clearfix">
                                    <label for="inputEmail3" class="col-sm-3 control-label"><span class="required-link">*</span>Content :</label>
                                    <div class="col-sm-9">
                                        <textarea rows="5" class="form-control" id="SendEmailText" required name="SendEmailText" data-bind="jqBootstrapValidation: {}"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button id="emailSendMultiple" class="btn btn-default padding-btn color-black pull-right  margin-btm-30" type="submit">Send</button>
                                    <button class="btn btn-default padding-btn color-black  pull-right marginright20 margin-btm-30" type="button" id="additionRecordsBtn">Additional Records</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="modal top20 fade bs-example-modal-lg" id="myWithdrawnPopUp" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog position-center modal-lg">
            <div class="modal-content">
                <div class="panel-heading">
                    <button type="button" class="close" data-bind="click:$root.closeWithdrawnPopup" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Withdrawn</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        @using (Html.BeginForm(GlobalConst.Actions.PreparationController.UploadFileOnWithdrawnORClientAuthorizedDecision, GlobalConst.Controllers.Preparation, System.Web.Mvc.FormMethod.Post, new
                        {
                            id = "frmUploadWithdrawn",
                            enctype = "multipart/form-data",
                            data_bind = "ajaxForm : { success : function(responseText ,statusText,xhr,$form){UploadFileWithdrawnSuccess(responseText);},beforeSubmit : UploadFileWithdrawnInfoFormBeforeSubmit}"
                        }))
                        {
                            <div class="col-sm-12">
                                <div class="form-group row label-font clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group row">
                                            <label for="exampleInputFile" class="col-sm-2 control-label ">File input</label>
                                            <div class="col-sm-6 pull-left">
                                                <input type="file" class="fileuploadborder form-control" name="rfaReferralFile" id="upLoadFileWithdrawnCase" required="required" data-bind="jqBootstrapValidation: {}">
                                                <input type="hidden" id="uploadRfaReferralID" name="RFAReferralID" data-bind="value:RFAReferralID" />
                                                <input type="hidden" id="uploadRFARequestID" name="uploadRFARequestID" data-bind="value:RFAReferralID" />
                                                <input type="hidden" id="uploadTypeWithdrawnCheck" name="uploadTypeCheck" />
                                            </div>
                                            <button class="btn btn-default padding-btn margin-btm-30 pull-right" type="submit" id="uploadButtonData">Upload</button>
                                        </div>

                                    </div><!-- col-sm-2 -->

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        }
                        <!-- row -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    /*
    Force table width to 100%
    */
    table.table-fixedheader {
        width: 100%;
    }
        /*
    Set table elements to block mode.  (Normally they are inline).
    This allows a responsive table, such as one where columns can be stacked
    if the display is narrow.
    */
        table.table-fixedheader, table.table-fixedheader > thead, table.table-fixedheader > tbody, table.table-fixedheader > thead > tr, table.table-fixedheader > tbody > tr, table.table-fixedheader > thead > tr > th, table.table-fixedheader > tbody > td {
            display: block;
            border: 0 none;
        }

    .btncolor {
        background-color: #C0C0C0 !important;
        color: black !important;
    }

    table.table-fixedheader > thead > tr:after, table.table-fixedheader > tbody > tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    #myTable > thead > tr > th, #myTable > thead > tr > td {
        border: 0 none !important;
    }

    .myTable {
        border: 0 none !important;
    }
    /*
    When scrolling the table, actually it is only the tbody portion of the
    table that scrolls (not the entire table: we want the thead to remain
    fixed).  We must specify an explicit height for the tbody.  We include
    100px as a default, but it can be overridden elsewhere.
    Also, we force the scrollbar to always be displayed so that the usable
    width for the table contents doesn't change (such as becoming narrower
    when a scrollbar is visible and wider when it is not).
    */
    table.table-fixedheader > tbody {
        overflow-y: scroll;
        height: 300px;
    }
    /*
    We really don't want to scroll the thead contents, but we want to force
    a scrollbar to be displayed anyway so that the usable width of the thead
    will exactly match the tbody.
    */
    /*
    For browsers that support it (webkit), we set the background color of
    the unneeded scrollbar in the thead to make it invisible.  (Setting
    visiblity: hidden defeats the purpose, as this alters the usable width
    of the thead.)
    */
    table.table-fixedheader > thead::-webkit-scrollbar {
        background-color: inherit;
    }

    table.table-fixedheader > thead > tr > th:after, table.table-fixedheader > tbody > tr > td:after {
        content: ' ';
        display: table-cell;
        visibility: hidden;
        clear: both;
    }
    /*
    We want to set <th> and <td> elements to float left.
    We also must explicitly set the width for each column (both for the <th>
    and the <td>).  We set to 20% here a default placeholder, but it can be
    overridden elsewhere.
    */
    table.table-fixedheader > thead tr th, table.table-fixedheader > tbody tr td {
        float: left;
        word-wrap: break-word;
    }
</style>
